#sb_super_bar.default .sb_text-size a, #sb_super_bar.default .sb_text-size span, #sb_super_bar.default .sb_prev-next-posts .sb_next_post_info span.sb_category {
	background-color:$blue;
}

img.wp-smiley, img.emoji, .codeat h3 img {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 .07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}

.entry-header {
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid $gray-400;
}

.fa {
	font-size: 40px;
	color: transparent;
	&::before {
		color: white;
	}
}

.comments-area {
	margin:25px;
}

.nav-link span {
	display: none;
}

#wrapper-navbar .navbar {
	padding:0.8rem;
}

.navbar-brand {
	font-size: 1.3rem;
}

.navbar-left, .navbar-right {
	top: -10px;
	float: left;

	.navbar-nav {
		flex-direction: column;
		width: 60px;
		li {
			height:60px;
			width: 60px;
			text-align: center;
			a, i {
				width:60px;
				height:60px;
			}
			i {
				width:40px;
			}
		}
	}
}

.navbar-right {
	float:right;
}

// Extracted from http://l-lin.github.io/font-awesome-animation/
@keyframes float{
	0%{transform: translateY(0)}
	50%{transform: translateY(-6px)}
	100%{transform: translateY(0)}
}
.fa:hover {
	animation: float 2s linear infinite;
}

.entry-header ul {
	text-align:center;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 1rem;
}

.entry-header li {
	display:inline;
}

.about-me p img {
	height: 85px;
	float: left;
	margin-right: 4px;
}

.widget h3 {
	text-align:center;
}

